//LOADING BAR SPINNING
.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
// END LOADING BAR SPINNING
.slide-animation.ng-enter, .slide-animation.ng-leave {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: relative;
  height: 1000px;
}

.slide-animation.ng-enter {
  z-index: 100;
  left: 100px;
  opacity: 0;
}

.slide-animation.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}

.slide-animation.ng-leave {
  z-index: 101;
  opacity: 1;
  left: 0;
}

.slide-animation.ng-leave.ng-leave-active {
  left: -100px;
  opacity: 0;
}

.repeat-animation.ng-enter,
//.repeat-animation.ng-leave,
.repeat-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: relative;
}

.repeat-animation.ng-enter {
  left: 10px;
  opacity: 0;
}

.repeat-animation.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}

.repeat-animation.ng-leave {
  left: 10px;
  opacity: 1;
}

.repeat-animation.ng-leave.ng-leave-active {
  left: -10px;
  opacity: 0;
}

.repeat-animation.ng-move {
  opacity: 0.5;
}

.repeat-animation.ng-move.ng-move-active {
  opacity: 1;
}

.ng-enter {
  transition: 0.75s;
  opacity: 0;
}

.ng-enter-active {
  opacity: 1;
}

.ng-enter-stagger {
  transition-delay: 0.1s;
}

//.ng-leave {
//  transition: 0.5s;
//  opacity: 1;
//}

.ng-leave-active {
  opacity: 0;
}

.highlightedFilteredText {
  background: yellow;
}

.table-row-danger-bold {
  background-color: #f2dede !important;
  font-weight:bold;
}

.table-with-selection thead tr {
  cursor: default;
}

.table-with-selection tbody tr {
  cursor: pointer;
}

.table-row-danger {
  background-color: #f2dede !important;
}

.table-muted tr th{
  background-color: #d2d2d2 !important;
  color: grey !important;
}

.table-muted tr td{
  background-color: #f4f4f4 !important;
  color: grey !important;
}

.table-row-pointer {
  cursor: pointer;
}

.table-row-selected{
  background-color: #ecd672 !important;
}

.btn-link-tng {
  color: #555555;

}
.btn-link-tng:hover {
  color: #337ab7;
  text-decoration: none;
}

.form-inline .form-group.form-inline-top {
  vertical-align: top;
}

.table-numbered.table > tbody > tr > td:first-child{
  width: 30px;
}

.table-vert-align-middle.table > thead > tr > th ,
.table-vert-align-middle.table > tbody > tr > th ,
.table-vert-align-middle.table > tfoot > tr > th ,
.table-vert-align-middle.table > thead > tr > td ,
.table-vert-align-middle.table > tbody > tr > td ,
.table-vert-align-middle.table > tfoot > tr > td {
  vertical-align: middle;
}

.table-vert-align-left.table > thead > tr > th ,
.table-vert-align-left.table > tbody > tr > th ,
.table-vert-align-left.table > tfoot > tr > th ,
.table-vert-align-left.table > thead > tr > td ,
.table-vert-align-left.table > tbody > tr > td ,
.table-vert-align-left.table > tfoot > tr > td {
  vertical-align: left;
}

.panel-heading.panel-heading-sm {
  padding-top: 5px;
  padding-bottom: 5px;
}

.label-as-badge {
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}

.text-multiline {
  white-space: pre-wrap;
}

.form-condensed .form-group {
  margin-bottom: 0;
}

.top-buffer { margin-top:20px; }
