<input type="button" class="form-control"
       id="{{id}}"
       ng-if="!disabled && datePickerOptions"
       name="{{name}}"
       uib-datepicker-popup="{{datePickerOptions.format}}"
       ng-model="datePickerOptions.datePickerModel"
       ng-change="dateChanged(datePickerOptions.datePickerModel)"
       is-open="status.opened"
       current-text="{{currentText}}"
       ng-click="open($event)"
       datepicker-options="datePickerOptions.dateOptions"
       ng-style="getStyle()"
       readonly="true"/>
<!-- Disabled state (workaround because uib-datepicker does not fully support a disabled state) -->
<input disabled class="form-control" ng-if="disabled"
       value="{{datePickerOptions.datePickerModel | date: datePickerOptions.format}}">

<!--Override original template-->
<script type="text/ng-template" id="uib/template/datepicker/popup.html">
    <div>
        <ul class="uib-datepicker-popup dropdown-menu uib-position-measure" dropdown-nested ng-if="isOpen" ng-keydown="keydown($event)"
            ng-click="$event.stopPropagation()">
            <li ng-transclude></li>
            <li ng-if="showButtonBar" style="padding:10px 9px 2px" class="uib-button-bar">
                <div class="text-center">
                    <button type="button" class="btn btn-sm btn-info uib-datepicker-current"
                            ng-click="select('today', $event)" ng-disabled="isDisabled('today')" style="width: 100px">{{
                        getText('current') }}
                    </button>
                </div>
            </li>
        </ul>
    </div>
</script>