<style>
    #id {
        width: 5%;
    }

    #name {
        width: 17%;
    }

    #eik {
        width: 8%;
    }

    #dds {
        width: 10%;
    }

    #address {
        width: 35%;
    }

    #mol {
        width: 15%;
    }

    #edit-dell {
        width: 10%;
    }
</style>
<div class="input-group" style="margin: 10px auto">
    <span class="input-group-addon"><span class="glyphicon glyphicon-zoom-in"></span></span>
    <input class="form-control" type="text" ng-model="searchText" placeholder="Search for expenses"/>
</div>
<table class="table table-bordered table-condensed">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>EIK/EGN</th>
        <th>DDS</th>
        <th>Addres</th>
        <th>Mol</th>
        <th>Edit/Del</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="datalist in datalists | filter:searchText" class="repeat-animation">
        <th id="id" scope="row">{{$index}}</th>
        <!--<td id="date"><a href="#">{{datalist.date}}</a></td>-->
        <td id="name">{{datalist.name}}</td>
        <td id="eik">{{ datalist.eik }}</td>
        <td id="dds">{{ datalist.dds }}</td>
        <td id="address">{{ datalist.address }}</td>
        <td id="mol">{{ datalist.mol }}</td>
        <td id="edit-del">
            <div class="row" align="center" style="width: 100px;">
                <button type="button" class="btn btn-info btn-xs"
                        ng-click="openModal(datalist.id, datalist.name,datalist.eik,datalist.dds, datalist.address, datalist.mol, datalist.phone)"
                        style="margin: 1px 1px"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="deletePartner(datalist.id)"
                        style="margin: 1px 1px"><i class="fa fa-trash"></i></button>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit partner</h4>
            </div>
            <div class="modal-body" align="center">

                <label for="modalName">Name</label>
                <input id="modalName" type="text" class="form-control" ng-model="name"/><br/>

                <form class="form-horizontal">
                    <div class="form-group form-group-sm">
                        <div class="col-md-6">
                            <label class="col-md-2 control-label" for="modalEik">EIK</label>

                            <div class="col-md-10">
                                <input class="form-control" type="text" id="modalEik" ng-model="eik">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-2 control-label" for="modalDds">DDS</label>

                            <div class="col-md-10">
                                <input class="form-control" type="text" id="modalDds" ng-model="dds">
                            </div>
                        </div>
                    </div>
                </form>
                <label for="modalAddress">Address</label>
                <input id="modalAddress" type="text" class="form-control" ng-model="address"/><br/>

                <form class="form-horizontal">
                    <div class="form-group form-group-sm">
                        <div class="col-md-6">
                            <label class="col-md-2 control-label" for="modalMol">MOL</label>

                            <div class="col-md-10">
                                <input class="form-control" type="text" id="modalMol" ng-model="mol">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-2 control-label" for="modalPhone">Phone</label>

                            <div class="col-md-10">
                                <input class="form-control" type="text" id="modalPhone" ng-model="phone">
                            </div>
                        </div>
                    </div>
                </form>
                <br/>
                <button type="button" class="btn btn-success" ng-click="save()" data-dismiss="modal"
                        style="width: 100px;">
                    Ok
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                        style="width: 100px; margin-left: 30px">
                    Cancel
                </button>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>