<div class="panel panel-default" xmlns:orderBy="http://www.w3.org/1999/xhtml">
    <span ng-init="initForm(orderId)"></span>

    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12">
                <h5>
                    <span translate>ORDERS.ORDERS</span>
                    <span class="text-muted" translate>ORDERS.ADD</span></h5></div>
        </div>
    </div>

    <div class="panel-body" style="min-height: 700px;">
        <div class="row top-buffer">
            <div class="col-xs-offset-1 col-xs-10">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-group btn-group-sm pull-right">
                            <button class="btn btn-warning">Приета</button>
                            <button class="btn btn-primary" ng-click="assign(orderId)">Възложена</button>
                            <button class="btn btn-success" ng-click="execute(orderId)">Изпълнена</button>
                            <button class="btn btn-default" ng-click="close(orderId)">Затворена</button>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12 top-buffer">

                        <div class="panel panel-primary">
                            <div class="panel-heading panel-heading-sm"></div>

                            <div class="panel-body">
                                <form class="form-horizontal">

                                    <div class="form-group">
                                        <label for="langs" class="col-sm-2 control-label"
                                               style="font-size: 12px" translate>
                                            ВИД</label>

                                        <div class="col-sm-10">
                                            <ol id="langs" class="nya-bs-select form-control"
                                                title="Изберете вид на услугата"
                                                ng-model="order.type"
                                                data-size="5">
                                                <li nya-bs-option="option in orderTypeOptions">
                                                    <a>
                                                        <span translate>{{option}}</span>

                                                        <span class="glyphicon glyphicon-ok check-mark"></span>
                                                    </a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>

                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-2 control-label" translate>
                                            ORDERS.TITLE
                                        </label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control"
                                                   ng-model="order.title">
                                        </div>
                                    </div>

                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-2 control-label" translate>
                                            ORDERS.CLIENT
                                        </label>

                                        <div class="col-sm-10">

                                            <div class="input-group">
                                                <input type="text" class="form-control" disabled
                                                       ng-model="order.clientName">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary btn-sm" type="button"
                                                            ng-click="openClientSearchDialog()">
                                                        <i class="fa fa-search"></i>
                                                        <span translate>ORDERS.SEARCH</span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-2 control-label" translate>
                                            ORDERS.DESCRIPTION
                                        </label>

                                        <div class="col-sm-10">
                                                <textarea class="form-control" rows="5"
                                                          ng-model="order.description"></textarea>
                                        </div>

                                    </div>

                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-2 control-label" translate> ПРИОРИТЕТ </label>

                                        <div class="col-sm-10">
                                            <input simple-switch ng-model="order.priority" type="checkbox" id="priority"
                                                   width="30"
                                                   on-text="BUTTON.YES" off-text="BUTTON.NO">
                                        </div>

                                    </div>

                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-2 control-label" translate> ВНИМАНИЕ </label>

                                        <div class="col-sm-10">
                                            <input simple-switch ng-model="order.requireAttention" type="checkbox"
                                                   id="requireAttention" width="30"
                                                   on-text="BUTTON.YES" off-text="BUTTON.NO">
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>

                        <button type="button" class="btn btn-success btn-sm pull-right"
                                ng-show="!inEditMode"
                                ng-click="registerOrder(order)">
                            <i class="fa fa-plus"></i>
                            <span translate>BUTTON.REGISTER</span>
                        </button>

                        <button type="button" class="btn btn-success btn-sm pull-right"
                                ng-show="inEditMode"
                                ng-click="editOrder(order)">
                            <i class="fa fa-pencil"></i>
                            <span translate>BUTTON.UPDATE</span>
                        </button>

                        <button type="button" class="btn btn-default btn-sm pull-right"
                                ng-click="goToOrders()"
                                style="margin-right: 15px">
                            <span translate>BUTTON.CANCEL</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="clientSearchModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{modalData.modalTitle | translate}}</h4>
                </div>
                <div class="modal-body" align="center">

                    <tabset class="tab-content">
                        <tab heading="Име/Булстат">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2 top-buffer">
                                    <form class="form-horizontal">
                                        <div class="form-group form-group-sm">
                                            <div class="input-group">
                                                <input type="text" class="form-control" ng-model="query">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary btn-sm" type="submit"
                                                            ng-click="searchClient(query)">
                                                        <i class="fa fa-search"></i>
                                                        <span translate>ORDERS.SEARCH</span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div style="max-height: 200px; overflow-y:scroll;">
                                <a class="list-group-item table-row-pointer text-left"
                                   ng-class="{'table-row-selected' : modalData.client.id == client.id}"
                                   ng-click="modalData.client = client"
                                   ng-repeat="client in clientsList | orderBy:'name'"
                                   style="padding-top: 0; padding-bottom: 0">
                                    <h5>
                                        <small class="text-muted text-uppercase">име</small>
                                        <span>{{client.name}}</span>
                                        <small class="text-muted text-uppercase">булстат</small>
                                        <span>{{client.eik}}</span>
                                        <small class="text-muted text-uppercase">мол</small>
                                        <span>{{client.mol}}</span>
                                    </h5>

                                </a>
                            </div>
                        </tab>
                    </tabset>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm pull-right"
                            data-dismiss="modal"
                            ng-click="select(modalData.client)">
                        <i class="fa fa-plus"></i>
                        <span translate>BUTTON.SELECT</span>
                    </button>

                    <button type="button" class="btn btn-default btn-sm pull-right"
                            data-dismiss="modal"
                            style="margin-right: 15px">
                        <span translate>BUTTON.CANCEL</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>