<div class="panel panel-default">
    <span ng-init="loadInitialData()"></span>

    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12">
                <h5>
                    <span translate>CLIENTS.CLIENTS</span>
                    <span class="text-muted" translate>CLIENTS.NOMENCLATURE</span>
                </h5>
            </div>

        </div>
    </div>

    <div class="panel-body" style="min-height: 700px;">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">

                <div class="row">
                    <div class="col-xs-12 top-buffer">
                        <button type="button"
                                class="btn btn-success btn-sm pull-right"
                                ng-click="openRegistrationModal()">
                            <i class="fa fa-plus"></i>
                            <span translate>CLIENTS.NEW</span>
                        </button>
                    </div>

                </div>

                <div class="input-group" style="margin: 10px auto">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input class="form-control" type="text" ng-model="searchText"
                           placeholder="{{'CLIENTS.SEARCH' | translate}}"/>
                </div>
                <table class="table table-hover table-striped table-vert-align-middle table-row-pointer table-condensed">
                    <thead>
                    <tr>
                        <th class="text-center text-primary" style="width: 50px"><h6><strong>#</strong></h6></th>
                        <th class="text-center text-primary"><h6><strong translate>CLIENTS.NAME</strong></h6></th>
                        <th class="text-center text-primary"><h6><strong translate>CLIENTS.EIK</strong></h6></th>
                        <th class="text-center text-primary"><h6><strong translate>CLIENTS.DDS</strong></h6></th>
                        <th class="text-center text-primary"><h6><strong translate>CLIENTS.ADDRESS</strong></h6></th>
                        <th class="text-center text-primary"><h6><strong translate>CLIENTS.MOL</strong></h6></th>
                        <th class="text-center text-primary" style="width: 80px"><h6><strong translate>CLIENTS.OPTIONS</strong></h6></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="datalist in datalists | orderBy:'name' |  filter:searchText">
                        <th id="id" class="text-center" style="width: 50px" scope="row">{{$index + 1}}</th>
                        <td id="name" class="text-center" >{{datalist.name}}</td>
                        <td id="eik" class="text-center" >{{ datalist.eik }}</td>
                        <td id="dds" class="text-center" >{{ datalist.dds }}</td>
                        <td id="address" class="text-center" >{{ datalist.address }}</td>
                        <td id="mol" class="text-center" >{{ datalist.mol }}</td>
                        <td id="edit-del" class="text-center">

                            <button type="button" class="btn btn-info btn-xs"
                                    ng-click="openUpdateModal(datalist)"
                                    tooltip="{{'CLIENTS.EDIT'| translate}}">
                                <i class="fa fa-pencil"></i></button>

                            <confirm-modal
                                    message="{{'CLIENTS.CONFIRM_DELETION' | translate}}"
                                    ok-pressed="deleteClient(datalist.id)">
                                <button type="button" class="btn btn-danger btn-xs"
                                        tooltip="{{'CLIENTS.DELETE'| translate}}">
                                    <i class="fa fa-trash"></i></button>
                            </confirm-modal>

                        </td>

                    </tr>
                    </tbody>
                </table>

                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{modalTitle | translate}}</h4>
                            </div>
                            <div class="modal-body" align="center">

                                <!--<label for="modalName" translate>CLIENTS.NAME</label>-->
                                <!--<input id="modalName" type="text" class="form-control" ng-model="name"/><br/>-->

                                <form class="form-horizontal">

                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label" for="modalName"
                                               translate>CLIENTS.NAME</label>

                                        <div class="col-md-10">
                                            <input id="modalName" type="text" class="form-control" ng-model="modalData.client.name"/>
                                        </div>
                                    </div>



                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label" for="modalEik"
                                               translate>CLIENTS.EIK</label>

                                        <div class="col-md-10">
                                            <input class="form-control" type="text" id="modalEik" ng-model="modalData.client.eik">
                                        </div>
                                    </div>


                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label" for="modalDds"
                                               translate>CLIENTS.DDS</label>

                                        <div class="col-md-10">
                                            <input class="form-control" type="text" id="modalDds" ng-model="modalData.client.dds">
                                        </div>

                                    </div>

                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label" for="modalAddress"
                                               translate>CLIENTS.ADDRESS</label>

                                        <div class="col-md-10">
                                            <input id="modalAddress" type="text" class="form-control" ng-model="modalData.client.address"/>
                                        </div>
                                    </div>


                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label" for="modalMol"
                                               translate>CLIENTS.MOL</label>

                                        <div class="col-md-10">
                                            <input class="form-control" type="text" id="modalMol" ng-model="modalData.client.mol">
                                        </div>
                                    </div>


                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label" for="modalPhone"
                                               translate>CLIENTS.PHONE</label>

                                        <div class="col-md-10">
                                            <input class="form-control" type="text" id="modalPhone" ng-model="modalData.client.phone">
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success btn-sm pull-right"
                                        ng-if="showAddBtn"
                                        data-dismiss="modal"
                                        ng-click="add(modalData.client)">
                                    <i class="fa fa-plus"></i>
                                    <span translate>BUTTON.REGISTER</span>
                                </button>

                                <button type="button" class="btn btn-success btn-sm pull-right"
                                        ng-if="showEditBtn"
                                        data-dismiss="modal"
                                        ng-click="update(modalData.client)">
                                    <i class="fa fa-pencil"></i>
                                    <span translate>BUTTON.UPDATE</span>
                                </button>

                                <button type="button" class="btn btn-default btn-sm pull-right"
                                        data-dismiss="modal"
                                        style="margin-right: 15px">
                                    <span translate>BUTTON.CANCEL</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




